[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyinstaller = "*"
tqdm = "*"
requests = "*"
validators = "*"
j2cli = "*"
appdirs = "*"

[requires]
python_version = "3.7"
